DATAFRAME

In [2]:
import pandas as pd
l = [1,2,3,4,5,6]
var = pd.DataFrame(l)
print(type(var))
print(var)

<class 'pandas.core.frame.DataFrame'>
   0
0  1
1  2
2  3
3  4
4  5
5  6

In [8]:
d = {"a":[1,2,3,4,5,6],"s":[1,2,3,4,5,6]}
var1 = pd.DataFrame(d,columns = ['a'])
print(var1)
print(type(var1))

   a
0  1
1  2
2  3
3  4
4  5
5  6
<class 'pandas.core.frame.DataFrame'>

In [11]:
d = {"a":[1,2,3,4,5,6],"s":[1,2,3,4,5,6]}
var1 = pd.DataFrame(d, index = ["a","s","w","q","u","v"])
print(var1)
print(type(var1))

   a  s
a  1  1
s  2  2
w  3  3
q  4  4
u  5  5
v  6  6
<class 'pandas.core.frame.DataFrame'>

In [14]:
d = {"a":[1,2,3,4,5,6],"s":[1,2,3,4,5,6],"w":[1,2,3,4,5,6],"q":[1,2,3,4,5,6],"u":[1,2,3,4,5,6],"v":[1,2,3,4,5,6]}
var1 = pd.DataFrame(d)
print(var1)
print(type(var1))
print(var1["a"][3])

   a  s  w  q  u  v
0  1  1  1  1  1  1
1  2  2  2  2  2  2
2  3  3  3  3  3  3
3  4  4  4  4  4  4
4  5  5  5  5  5  5
5  6  6  6  6  6  6
<class 'pandas.core.frame.DataFrame'>
4

In [17]:
list_1 = [[1,2,3,4,5,6],[4,6,5,3,45,7,5]]
var2 = pd.DataFrame(list_1)
print(var2)
print(type(var2))

   0  1  2  3   4  5    6
0  1  2  3  4   5  6  NaN
1  4  6  5  3  45  7  5.0
<class 'pandas.core.frame.DataFrame'>

In [18]:
sr = {"s":pd.Series([1,2,3,4,5,6]),'r':pd.Series([6,5,4,3,2,1])}
var3 = pd.DataFrame(sr)
print(var3)
print(type(var3))

   s  r
0  1  6
1  2  5
2  3  4
3  4  3
4  5  2
5  6  1
<class 'pandas.core.frame.DataFrame'>