# Series

In [7]:
import pandas as pd
X = [3,4,5]
a = pd.Series(X,index=['a','s','x'],dtype = 'float',name = 'python')
print(a)
print(type(a))

a    3.0
s    4.0
x    5.0
Name: python, dtype: float64
<class 'pandas.core.series.Series'>

In [8]:
dic ={"name" :['python','c','c++','java'],"por":[12,13,14,15],"rank":[1,4,3,2]}
var1 = pd.Series(dic)
print(var1)

name    [python, c, c++, java]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object

In [9]:
s= pd.Series(12,index=[1,2,3,4,5,6,7])
print(s)
print(type(s))

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64
<class 'pandas.core.series.Series'>

In [10]:
s1= pd.Series(12,index=[1,2,3,4,5,6,7])
s2= pd.Series(12,index=[1,2,3,4])
print(s1 + s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64