# Insert

In [1]:
import pandas as pd
var = pd.DataFrame({"a":[1,2,3,4,5],"b":[9,8,7,6,5]})
print(var)

   a  b
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5

In [2]:
var.insert(1,"pyhton",var["a"])
print(var)

   a  pyhton  b
0  1       1  9
1  2       2  8
2  3       3  7
3  4       4  6
4  5       5  5

In [3]:
var.insert(1,"pyhton_1",[5,7,8,4,2])
print(var)

   a  pyhton_1  pyhton  b
0  1         5       1  9
1  2         7       2  8
2  3         8       3  7
3  4         4       4  6
4  5         2       5  5

In [4]:
var = pd.DataFrame({"a":[1,2,3,4,5],"b":[9,8,7,6,5]})
var["pyp"] = var["a"][:3]
print(var)

   a  b  pyp
0  1  9  1.0
1  2  8  2.0
2  3  7  3.0
3  4  6  NaN
4  5  5  NaN

# Delete

In [6]:
var = pd.DataFrame({"a":[1,2,3,4,5],"b":[9,8,7,6,5]})
print(var)
var1 = var.pop("a")
print(var)
print(var1)

   a  b
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5
   b
0  9
1  8
2  7
3  6
4  5
0    1
1    2
2    3
3    4
4    5
Name: a, dtype: int64

In [7]:
del var["b"]
print(var)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]